<div id="main">
			<div class="head">
				<h3>About Us</h3>
				<p class="text-right"></p>
			</div>
			<br>
			<div class="content">
				<h4>Location </h4>
				<p>Cinema World Dublin is a 4 screen cinema located in the heart of the city. The cinema has a large car park nearby and great transport links.</p>
			</div>
			<div id="map-canvas"></div>
			<br>
			<br>
			<div class="content">
				
				<h4>Summary of facilities</h4>
				<dl>
					  <dt>Screens and Ticketing</dt>
					  <dd>-Advance screenings</dd>
					  <dd>-Digital</dd>
					  <dd>-3D</dd>
					  <dd>-Screen Hire</dd>
					  <dd>-IMAX</dd>
					</dl>
					  <dl>
					  <dt>Food and Drink</dt>
					  <dd>-Bar</dd>
					  <dd>-Concessions</dd>
					  <dd>-Ice Cream</dd>

					</dl>
			</div>
			<br>
		<br>
		</div>
		