<h1>Welcome to Cinema World</h1>
</br>

<div id='coin-slider'; style="left: 120px";>
	<a href="/home">
		<img src='/assets/deadmandown.jpg' >
		<span>
			Dead Man Down
		</span>
	</a>
	......
	......
	<a href="/home">
		<img src='/assets/startrekintodarknessposter.jpg' >
		<span>
			Star Trek: Into the DarkNess
		</span>
	</a>
</div>

<script type="text/javascript">
	$(document).ready(function() {
		$('#coin-slider').coinslider({ width: 850, height: 450, hoverPause: true, effect: 'rain'});
	});
</script>