<div id="main">
			<div class="head">
				<h1>NEWS</h1>
				<p class="text-right"></p>
			</div>
			<div class="">
				<h4>Updated Seats</h4>
				<a href="#"><img src="/assets/cinema_seats.jpg" alt="Updated Seats" width= "168px"/></a>
				<p>Luxurious seat with the best view</p>
				<div class="content"><a href="#">Read more</a></div>
				

			</div>
			<div class="">
				<h4>Butter Popcorn</h4>
				<a href="#"><img src="/assets/butter_popcorn.jpg" alt="Butter Popcorn" width= "130px"/></a>
				<p>Delicious butter popcorn now available ..... </p>
				<div class="content"><a href="#">Read more</a></div>			</div>
				

			<br>
		<br>
		</div>
		
				
